header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 1em;
    position: relative;
}

header img {
    width: 10vh;
    padding: 0.5%;
    margin-left: 1%;
}

.nav-full {
    display: none;
}

.nav-cel {
    display: none;
}


.nav-cel.active {
    display: flex;
    z-index: 10; /* Ajusta el z-index según sea necesario */
    justify-content: end;
    margin: auto;

}

.nav-cel.active ul {
    color: #000000;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    width: 92vw;
    align-items: center;
    height: 54vh;
    background-color: #4b7a81;
    border-radius: 0 0 22px 22px;
    z-index: -20;
}

.nav-full li i {
    padding: 2vh;
    font-size: 3vh;
    color: #4b7a81;
}

.nav-full ul li {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 86%;
}

.seach-header {
    display: none;
}

.nav-cel a {
    color: #000000;
    font-family: math;
    font-size: 3vh;
    letter-spacing: 1vh;
}

.content-bards i {
    font-size: 4vh;
    color: #fff;
    display: block;
    cursor: pointer;
}

@media (max-width: 460px) {
    .user-menu {
        display: none;
    }

 
}

@media (min-width: 480px) {
    header {
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100;
    }
    .nav-cel {
        display: none; /* Oculta el menú de navegación por defecto en móvil */
    }

    header img {
        width: 10vh;
        padding: 0.5%;
        margin-left: 1%;
    }

    header a {
        color: #fff;
        margin: 2vh;
    }

    header ul {
        display: flex;
    }

    .nav-full {
        display: block;
    }

    .content-bards i {
        display: none;
    }

    .seach-header {
        display: flex;
        align-items: center;
        position: relative;
    }
    
    #user {
        border: solid 4px #4b7a81;
        border-radius: 25%;
        padding: 1vh;
    }

    .hidden {
        display: none;
    }

    .user-menu {
        position: absolute;
        top: 10vh;
        right: 0;
        background-color: rgb(0, 0, 0);
        box-shadow: 0 4px 8px #4b7a81;
        z-index: 10;
    }

    .user-menu ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 31vh;
        height: 29vh;
        align-items: center;
    }

    .user-menu li {
        padding: 10px 20px;
    }

    .user-menu li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .user-menu li a:hover {
        background-color: #6b6b6b;
        padding: 2vh 7vh;
    }

    .seach-header i {
        color: #fff;
        cursor: pointer;
    }

    .seach-header input {
        background-color: #ffffff;
        height: 4vh;
        border-radius: 9px 0 0 9px;
        margin-right: -52px;
        transition: width 0.9s ease, opacity 0.3s ease;
        opacity: 0;
        pointer-events: none;
        width: 0;
    }

    .seach-header:hover input {
        opacity: 1;
        pointer-events: auto;
        width: 40vh;
    }
}
@media (max-width: 778px) {}